<section data-name="{{namespace}}/{{slug}}"{{#title}} data-title="{{title}}"{{/title}}{{#description}} data-description="{{description}}"{{/description}}{{#category}} data-category="{{category}}"{{/category}}{{#dashicon}} data-icon="{{dashicon}}"{{/dashicon}}>
  <h2 data-bind="title">Default HTML To Gutenberg block</h2>
</section>
